<section class="about-me" id="about">
  <div class="about-content">
    <div class="about-text">
      <br>
      <h1>Who am I?</h1>
      <h2>Hello! My name is Anahí Estrella, and I'm a Backend Developer from Mérida, Yucatán</h2>
      <p>I’m a graduate in Computer Systems Engineering from the Instituto Tecnológico de Mérida, with a specialization in web applications and mobile devices. I'm passionate about technology, always seeking opportunities to learn and grow both personally and professionally. </p>
      <p> Driven by curiosity and a love for continuous improvement, I take pride in staying up-to-date with the latest tools and practices especially in the areas of DevOps and software development. I’m proactive, self-motivated, and enjoy both learning from others and sharing my knowledge to help those around me.</p>
    </div>
    <div class="about-image-container">
      <img src="/img/about.jpeg" alt="programming"
      class="about-image" />
    </div>
  </div>
  <div class="about-content">
    <p style="margin: 0;">My favorite phrase, “Every day you learn something new,” reflects my mindset and commitment to lifelong learning. Outside of tech, I enjoy staying active going for walks, exercising, and keeping my mind engaged. I believe in moving forward through dedication, perseverance, and my own effort.</p>
    <p>My journey in tech has taught me the value of perseverance, collaboration, and adaptability. I enjoy working in environments where ideas are shared freely and challenges are seen as opportunities to grow. Whether it's debugging a complex issue, automating a deployment pipeline, or exploring a new framework, I approach every task with curiosity and a desire to improve. I aspire to be part of projects that make a meaningful impact and allow me to continue evolving as both a developer and a person.
    </p>
  </div>
  <div class="about-images">
    <img src="/img/comida.jpeg" alt="comida" class="image"/>
    <img src="/img/cursos.jpeg" alt="cursos" class="image"/>
    <img src="/img/logros.jpeg" alt="logros" class="image"/>
    <img src="/img/electronica.jpeg" alt="electronica" class="image"/>
    <img src="/img/reparaciones.jpeg" alt="naturaleza" class="image"/>
  </div>
</section>
