<section class="hero container">
    <div class="hero-text">
      <h1>Hello, I'm Anahí Estrella</h1>
      <h2>Full-Stack Developer</h2>
      <a href="#projects" class="btn">View Projects</a>
    </div>
    <div class="hero-image">
      <img src="/img/perfil.jpeg" alt="Anahi Smith Photo" />
    </div>
  </section>