<section class="skills" id="tecnologies">
    <div class="container">
      <h2>Tecnologies</h2>
      <div class="skill-icons">
        <div>
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/docker/docker-original.svg"
            alt="Docker"
          />
          <p>Docker</p>
        </div>
        <div>
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/django/django-plain.svg"
            alt="Django"
          />
          <p>Django</p>
        </div>
      </div>
    </div>
  </section>