<section class="section-white py-20 bg-white dark:bg-[#0f172a]" id="about">
  <div class="container mx-auto px-6 md:px-12 lg:px-20 about-content">
    <img src="/img/about.jpg"/>
    <div class="max-w-4xl mx-auto text-center">
      <h2 class="text-4xl font-bold text-gray-900 dark:text-white mb-6">About Me</h2>
      <p class="text-lg md:text-xl text-gray-700 dark:text-gray-300 leading-relaxed">
        I’m a backend developer focused on creating efficient, secure, and scalable solutions. I specialize in building robust APIs, automating workflows, and deploying services using modern tools like <span class="font-semibold text-teal-500">Django</span>, <span class="font-semibold text-teal-500">FastAPI</span>, <span class="font-semibold text-teal-500">Docker</span>, and <span class="font-semibold text-teal-500">AWS</span>.
        <br /><br />
        I thrive on continuous learning, enjoy working collaboratively, and value the opportunity to contribute to projects that make a positive impact through technology.
      </p>
    </div>
  </div>
</section>
