<footer>
    <div class="container">
        <ul class="social-icons">
            <li><a href="tel:+529991177867"><img src="/img/telefono.svg" alt="Telefono" /></a></li>
            <li><a href="mailto:dev.anahi.estrella@gmail.com"><img src="/img/correo.svg" alt="Correo" /></a></li>
            <li><a href="https://github.com/AnahiEstrell"><img src="/img/github.svg" alt="GitHub" /></a></li>
            <li><a href="https://www.linkedin.com/in/dev-anahi-estrella/"><img src="/img/linkedin.svg" alt="LinkeIn" /></a></li>
        </ul>
        <p>&copy; 2023 Anahí Estrella. All rights reserved.</p>
    </div>
</footer>