<nav class="bg-[#0A192F] text-white sticky top-0 z-50 shadow-md">
  <div class="max-w-7xl mx-auto px-4 py-4 flex justify-between items-center navbar-content">
    <h1>Anahí Estrella</h1>
    <ul class="flex space-x-4">
      <li><a href="#about" class="hover:text-[#64FFDA]">About me</a></li>
      <li><a href="#projects" class="hover:text-[#64FFDA]">Projects</a></li>
      <li><a href="#tecnologies" class="hover:text-[#64FFDA]">Tecnologies</a></li>
    </ul>
    <button>Contact</button>
  </div>
</nav>
