<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-logo">
      <img src="/img/logo.png" alt="Logo" class="logo" />
      <h1 class="navbar-title">StackStar</h1>
    </div>
    <button class="menu-toggle" id="menu-toggle" aria-label="Open Menu">
      ☰
    </button>
    <ul class="navbar-links" id="navbar-links">
      <li><a href="#about">About me</a></li>
      <li><a href="#projects">Projects</a></li>
      <li><a href="#tecnologies">Technologies</a></li>
      <li><a href="#contact" class="button-link">Contact</a></li>
    </ul>
  </div>
</nav>
